.nav-header {
    font-size: 35px;
}

.nav-text {
    font-size: 17.5px;
    margin-top: 8px;
}

#left-body {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
}

#right-body {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
}

#background-image {
    background-image: url("../images/dust_scratches.png")
}

#row-one {
    margin-top: 55px;
}

.fa-twitter {
    color: white;
    background-color: #00aced;
    padding: 15px;
    font-size: 65px;
    border-radius: 55px;
}

.fa-github {
    font-size: 96px;
    border-radius: 55px;
}

.fa-linkedin-in {
    color: white;
    background-color: #4875B4;
    padding: 30px;
    font-size: 35px;
    border-radius: 100%;
}

.contact-h1 {
    text-align: center; 
}

#content {
    padding-left: 30px;
    padding-right: 10px;
}

#image {
    padding-left: 10px
}

.content {
    padding-left: 15px;
    padding-right: 10px;
}

#about-me-h1 {
    padding-left: 15px;
    margin-top: 12px;
}

.btn-style {
    background-color: white;
    color: black;
    border-color: black;
    border-width: 1.5px;
}

.btn-style:hover {
    color: #e3e3e3;
    background-color: #343a40;
}

.card {
    margin-left: 45px;
}